# Exporta as funções principais do usuário
export(ugamma.fit)
export(summary.Unit.gamma) # A função *método* deve ser exportada

# IMPORTAÇÕES DE 'stats'
importFrom(stats, optim)
importFrom(stats, model.frame)
importFrom(stats, model.matrix)
importFrom(stats, model.response)
importFrom(stats, rgamma)
importFrom(stats, pchisq)

# IMPORTAÇÕES DE 'base' (Cruciais para funções matemáticas e matriciais)
importFrom(base, digamma)
importFrom(base, trigamma)
importFrom(base, gamma)
importFrom(base, solve)

# IMPORTAÇÕES DE 'utils'
# (runif e head não parecem ser usadas no código fornecido, mas se forem, mantenha)
# importFrom(stats, runif) 
# importFrom(utils, head)
